body {
	margin: 0;
	background: url(img/backgroundCraftmas.png) top right no-repeat;
	background-attachment: fixed;
	background-size: 100% auto;
	background-color: #160805;
	font-family: 'Oswald', sans-serif;
}
#header {
	z-index: 100;
	background-color: #CFCFCF;
	width: 100%;
	height: 70px;
	position: fixed;
	box-shadow: 0 8px 10px -5px #000000;
	background: url(img/headerBg.png) top right;
	#background-size: 70px auto;
}
#headerShadow {
	z-index: -1;
	width: 100%;
	height: 70px;
	position: fixed;
	box-shadow: 0 8px 10px -2px #000000;
}
#header #logo {
	height: 100%;
	width: 50%;
	float: left;
}
#header #logo img {
	margin-left: 5px;
	padding-top: 0;
}
#header #nav {
	float: right;
	height: 100%;
	width: 50%;
}
#header #nav #menu {
	height: 50%;
	width: 600px;
	position: absolute;
	right: 0;
	bottom: 0;
}
#header #nav #menu .menuButton {
	background: rgba(0,0,0,0.5);
	height: 100%;
	width: 25%;
	float: left;
	text-align: center;
	box-shadow: inset 6px 4px 9px -6px #000000;
}
#header #nav #menu a {
	text-decoration: none;
	color: white;
}
#header #nav #menu a:link, a:visited { color: white; }
#header #nav #menu a:hover { color: white; }
#header #nav #menu .menuButton span{
	display: inline-block;
	vertical-align: middle;
	line-height: 100%;
}
#header #logo img {
	height: 90%;
	position: absolute;
	top: 50%;
	transform: translateX(0) translateY(-50%);
}
#header h1 {
	font-size: 50px;
	height: 70px;
	margin-top: 0;
	margin-bottom: 0;
}
#content {
	z-index: 0;
	background-color: #fff;
	width: calc(75% - 60px);
	min-height: calc(100% - 70px - 15px);
	height: calc(auto - 70px - 15px);
	margin: 0 auto;
	position: relative;
	top: 70px;
	box-shadow: 2px 0 10px -2px gray, -2px 0 10px -2px gray;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 1px;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
}
#content strong {
	
}
#footer {
	width: 100%;
	height: 15;
	text-align: center;
	position: realtive;
}
#footer p {
	margin: 0;
	font-size: 13px;
}
#ticketButton {
	text-align: center;
}
.button{
	text-decoration:none; 
	text-align:center; 
	padding:11px 32px; 
	border:solid 1px #004F72; 
	-webkit-border-radius:4px;
	-moz-border-radius:4px; 
	border-radius: 4px; 
	font:18px Arial, Helvetica, sans-serif; 
	font-weight:bold; 
	color:#E5FFFF; 
	background-color:#3BA4C7; 
	background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
	background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
	background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
	-webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
	-moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
	box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    padding-left: 15px;
    user-select: none;
    z-index: 1000;
}
.snowflake img {
	position: fixed;
	width: 5px;
    height: auto;
}
.snowflake:hover {
    cursor: default;
}