<!DOCTYPE html>
<html>
<head>
	<title>{websitetitle}</title>
	<link rel='stylesheet' type='text/css' href='template1.css'>
	<!--<link href='{fontlink}' rel='stylesheet' type='text/css'>-->
	<style type='text/css'>body {margin: 0;padding: 0;background-color: #e6e6e6;position: fixed;     width: 100%;    /*font-family: {font};*/}#content{position: absolute;width: 100vw;height: 100vh;}#contentLeft {position: relative;float: left;width: 50%;height: 100%;background-color: blue;}#contentRight {position: relative;float: right;width: 50%;height: 100%;background-color: red;}</style>
</head>
<body>
	<div id='content'>
		<div id='contentLeft'>

		</div>
		<div id='contentRight'>
			
		</div>
	</div>
</body>
</html>