body {
	background-image: url(img/backgroundCraftmas.png);
	background-size:     cover;                      /* <------ */
	background-repeat:   no-repeat;
}

#logoBig {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 25vh;
	width: 60vw;
}

#logoTagline {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 30vh;
	width: 25vw;
}